<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog Post - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=f9f7d0157de2a90e383c7d0678aa83cf">
    <link rel="stylesheet" href="/assets/css/Lora.css?h=4d50cd90998eb6786f5c7cdd6ada1e56">
    <link rel="stylesheet" href="/assets/css/Open%20Sans.css?h=9a60f73863cdefa128874a76ba99deb9">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('partials/nav.ejs') %>
    <header class="masthead" style="background-image:url('/assets/img/post-bg.jpg?h=9b3eae5bf913af77d61c0390cba13bf5');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2><span class="meta">Posted by&nbsp;<a href="#">Start Bootstrap</a>&nbsp;on August 24, 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="mb-4">Blog </h1>
        <a href="/addblog" class="btn btn-success">New Blog</a>
    
        <% Posts.forEach(post => { %>
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= post.title %></h4>
             
              <div class="card-text mb-2"><%=  post.description %></div>
              <a href="" class="btn btn-primary">Read More</a>
              <a href="" class="btn btn-info">Edit</a>
              <form action="" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
          <% }) %>
      </div>
    <%- include('partials/foot.ejs') %>
</body>

</html>